//- Common
meta(name='description', content='Personal boilerplate for gulp.js projects.')
meta(name='viewport', content='width=device-width, initial-scale=1')

//- Open Graph
meta(property='og:type', content='website')
meta(property='og:title', content='gulp.js Boilerplate')
meta(property='og:description', content='Personal boilerplate for gulp.js projects.')
meta(property='og:url', content='')
meta(property='og:image', content='')

//- Twitter Card
meta(name='twitter:card', content='summary')
meta(name='twitter:site', content='')
meta(name='twitter:title', content='gulp.js Boilerplate')
meta(name='twitter:description', content='Personal boilerplate for gulp.js projects.')
meta(name='twitter:url', content='')
meta(name='twitter:image', content='')

//- Security
meta(name='csrf-param', content='authenticity_token')
meta(name='csrf-token', content='')

//- Appearance
meta(name='theme-color', content='#000')
meta(name='skype_toolbar', content='skype_toolbar_parser_compatible')
meta(http-equiv='X-UA-Compatible', content='IE=edge')

//- Breakpoints
meta(name="breakpoint", content="small" media="(min-width: 400px)")
meta(name="breakpoint", content="medium" media="(min-width: 800px)")
meta(name="breakpoint", content="large" media="(min-width: 1200px)")
meta(name="breakpoint", content="huge" media="(min-width: 1600px)")
meta(name="breakpoint", content="portrait" media="(orientation: portrait)")
meta(name="breakpoint", content="landscape" media="(orientation: landscape)")
