script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
script window.jQuery || document.write('<script src="/static/script/vendor/jquery.js"><\/script>')
script(src='/static/script/vendor.js')
script(src='/static/script/main.js')
