doctype html
html.no-js.breakpoint-medium.breakpoint-landscape.breakpoint-lofi(lang='en', prefix='og: http://ogp.me/ns#')
	head
		meta(charset='utf-8')
		title gulp.js Boilerplate
		include ../partial/page.meta.jade
		include ../partial/page.relation.jade
		include ../partial/resource.styles-top.jade
		include ../partial/resource.scripts-top.jade
	body
		block main
		include ../partial/resource.scripts-bottom.jade
