doctype html
html.has-no-js.breakpoint-medium.breakpoint-landscape.breakpoint-lofi(lang='en', prefix='og: http://ogp.me/ns#')
	head
		meta(charset='utf-8')
		title=site.meta.title
		include /partial/page-meta
		include /partial/page-relation
		include /partial/resource-styles
	body
		block main
		include /partial/resource-scripts
